.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* RoomSerchコンポーネント
=======================================*/
.serch-textarea {
  width: 80%;
  height: 2.2rem;
}

/* RoomItemコンポーネント内の要素
=======================================*/
.room-item {
  display: flex;
  justify-content: space-between;
  border: 1px, solid #282c34;
  border-radius: 1rem;
  padding: .5rem;
  background-color: #efffff;
  margin: 1.4rem;
}

.room-number {
  background-color: #2675eb;
  color: white;
  border: 1px, solid #282c34;
  border-radius: 1px;
  /*margin-right: 1rem;*/
  padding: .3rem;
}
.room-status {
  border: 1px, solid #282c34;
  border-radius: .7rem;
  padding: .5rem;
  margin-right: 6rem;
}
/* 部屋ステータスごとのCSS */
.room-status-empty {
  background-color: #d4edda; /* 空室: 緑 */
}
.room-status-requiredcleaning {
  background-color: #f5c588; /* 清掃指示: オレンジ */
}
.room-status-cleaning {
  background-color: #fff3cd; /* 清掃中: 黄色 */
}
.room-status-inspecting {
  background-color: #eeb9ee; /* 点検中: ピンク */
}
.room-status-dd {
  background-color: #8881ae; /* D/D: 紺 */
  color: white;
}

.room-status-cleaned {
  background-color: #cce5ff; /* 清掃済: 青 */
}


